<div class="card-container  mb-4 mb-xl-0">
  <div class="cover-photo" [routerLink]="[user.id]">
    <img src="{{user.photoUrl ? user.photoUrl : defaultImg}}" class="profile">
  </div>
  <div class="profile-name">{{user.knownAs}}</div>
  <p class="about">User Interface Designer and<br>front-end developer</p>
  <button class="msg-btn">Message</button>
  <button class="follow-btn">Following</button>
  <div>
    <i class="ni ni-favourite-28" (click)="likeUser(user.id)"></i>
    <!--<i class="fa fa-instagram"></i>
     <i class="fa fa-youtube"></i>
    <i class="fa fa-twitter"></i> -->
  </div>
</div>