.nv-file-over {
  border: dotted 3px red;
}
/* .my-drop-zone {
  border: dotted 3px lightgray;
} */

.file-drop-area {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 150px;
  padding: 25px;
  border: 1px dashed rgb(0, 129, 207);
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.box-container .p-card {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f6fa;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.box-container .p-card:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff6b6b),
    to(#576574)
  );
  background: linear-gradient(to bottom, #ff6b6b, #576574);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.box-container .p-card:hover {
  /*%% Card on hover %%*/
}
.box-container .p-card:hover:before {
  height: 100%;
}
.box-container .p-card:hover .social {
  margin-bottom: 30px;
}
.box-container .p-card:hover .pic {
  width: 120px;
  height: 120px;
  margin-top: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px #888;
}

.box-container .p-card .social {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 0;
  margin-top: -30px;
  text-align: center;
  -webkit-transition: margin-bottom 0.5s ease;
  transition: margin-bottom 0.5s ease;
}
.box-container .p-card .social a {
  text-decoration: none;
  color: #2d3436;
  padding: 8px;
  font-size: 18px;
  color: #fff;
}
.box-container .p-card .pic {
  position: relative;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
}
.box-container .p-card .pic img {
  width: 100%;
  height: 100%;
}

.b-btn {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

/* .b-btn:hover,
.b-btn:focus {
  background: #0053ba;
} */

/* .b-btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.b-btn:active {
  transform: scale(0.99);
} */
